html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #E5E5E5;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
/*Typography*/

h1{
    font-family: "Frank Ruhl Libre";
    font-size: 45px;
}

h2{
    font-family: "Frank Ruhl Libre"; 
    font-size: 32px;
    color: #fff;
}
h6{
    font-size: 11px;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}
p{
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 500;
    line-height: 24px;
    color: black;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: "Fira Sans";
    opacity: 40%;
    font-size: 12px;

}

li a:hover{
    color: black;
    opacity: 100%;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Fira Sans";
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}
button{
    background-color: #fff;
    width: 131px;
    height: 39px;
    border: 1px solid #fff;
    border-radius: 50px;
    font-family: "Fira Sans";
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
}
.headline-white{
    color: #fff;
}
.headline-black{
    color: black;
}
/*Header*/
header{
    max-width: 1002px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(6, 1fr);

}
.main-top{
    width: 100%;
    background-color: #C7DDEA;
    grid-column: 1/4;
    grid-row: 1/7;
}
.main-top .big-blue-section .headline-black{
    margin: 71px 0 0 15%;
    font-weight: 600;
}
.main-top .big-blue-section .article{
    color: black;
    width: 270px;
    font-size: 14px;
    line-height: 24px;
    margin: 5% 0 0 15%; 
}
.main-top .big-blue-section .article span{
    color: #fff;
}
.main-top .big-blue-section .button{
    margin: 50px 0 0 15%;
    
}
.family-picture{
    width: 80%;
    margin-left: 20%;
}
.main-top-orange{
    background-color: #F17949;
    grid-column: 4/7;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-top-yellow{
    background-color: #FFB939;
    grid-column: 4/7;
    grid-row: 4/7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    height: 50px;
    padding: 10px 0 10px 0;
}
/*Main*/
.part-one{
    height: 618px;
    background-color: #A9A19E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.part-one .top-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    margin: 0 0 -22px 0;
}
.part-one  .top-text .left{
    width: 314px;
}
.part-one .top-text .left .button{
    margin: 55px 0 0 0;
}
.part-one .top-text .text{
    width: 280px;
    color: black;
    margin: 0 0 0 50px;
}
.img-grupp, .top-part{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.grupp-img{
    margin: 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.bgd-img-blue, .bgd-img-orange, .bgd-img-yellow{
    width: 236px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(125px);
}
.bgd-img-blue{
    background-color: #C7DDEA;
}
.bgd-img-yellow{
    background-color: #FAB131;
}
.bgd-img-orange{
    background-color: #F17949;
}
.grupp-img img{
    object-fit: cover;
    object-position: 0 0;
    height: 140px;
    width: 96px;
}
.bgdcolor, .text-bgd{
    width: 256px;
    background-color: #fff;
    height: 166px;
    
}
.bgdcolor{
    border-radius: 10px 10px 0 0;
}
.bgdcolor h3{
    margin-top: 140px;
}
.part-two{
    height: 680px;
    background-color: #FAB131;
    text-align: center;
}
.part-two .top-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.part-two .top-part .text-bgd{
    margin: 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 10px;
}
.part-two .top-part .text-bgd p{
    width: 214px;
    color: black;
    font-size: 11px;
    line-height: 18px;
    margin: 14px 10px 0 0;
}
.part-two .bottom-part{
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part-two .bottom-part p{
    width: 442px;
    color: black;
    margin-top: 5f1px;
}
/*6 boxes section, lower main part*/

.boxes{
    max-width: 1002px;
    margin: 0 auto;}


/*Footer*/


/*----------------Contact site----------*/

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper .contact-top-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 0,5fr);
    grid-template-rows: repeat(1, 1fr);
}
.wrapper .contact-top-section .big-blue-section{
    max-width: 1000px;
    background-color: #C7DDEA;
    grid-column: 1/7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}
.wrapper .contact-top-section .big-blue-section .headline-black{
    margin: 0 5% 0 20%;
}
.wrapper .contact-top-section .big-blue-section .family-man-child{
    margin: 0 0 0 5%;
}
.wrapper .contact-top-section .navigation{
    background-color: #fff;
    grid-column: 1/7;
    grid-row: 2/3;
    
}
.wrapper .contact-top-section .navigation .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.wrapper .contact{
    height: 544px;
    background-color: #A9A19E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wrapper .contact .headline-white{
    width: 214;
    font-size: 45px;
    margin: 10% 0 0 0;
    color: #fff;
}
.wrapper .contact form{
    font-size: 14px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin:10% 0 0 0 ;
    color: #fff;
    justify-content: space-around;
    
}
.wrapper .contact .email{
    border-radius: 2px;
    border: none;
    height: 40px;
}
.wrapper .contact #message{
    height: 166px;
    width: 334px;
    border-radius: 2px;
    border: none;
}
.wrapper .contact .send{
    font-size: 14px;
    background-color: #fff;
    width: 130px;
    padding: 10px;
    margin-left: 60%;
    border-radius: 50px;
    text-align: center;
}
.wrapper .map{
    height: 407px;
    background-image: url('../images/map-contact.png');
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    
}
.wrapper .map .text{
    width: 323px;
    height: 206px;
    background-color: #FAB131;
    margin: 45px 0 0 10%;
    
}
.wrapper .map .text .headline-white, p{
    color: #fff;
    margin: 22px 0 0 22px;
}
.wrapper .graycolor{
    height: 340px;
    background-color: #777574;
}

